#top-menu {
  display: flex;
}

#main-nav {
  display: none;
  font-size: 20px;
}

footer {
  background-color: rgb(231, 231, 231);
  padding: 20px;
  flex-shrink: 0;
}

#blog {
  text-align: center;
}


@media only screen and (min-width: 768px) {
  #main-nav {
    display: inline;
  }
  nav {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 40px;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none; 
    justify-content: center;
  }

  li {
    padding: 10px;
    margin: auto 40px auto 40px;
    font-size: 20px; 
  }

  #blog {
    display: flex;
  }

}